<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div layout:fragment="content">
        <div class="row">
            <div class="col-12">
                <div class="card mb-2 mt-2">
                    <div class="card-header">
                        All Candidates
                    </div>
                    <div class="card-body">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>id</th>
                                <th>name_first</th>
                                <th>name_last</th>
                                <th>employment</th>
                                <th>add competence</th>
                                <th>details</th>
                                <th>delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="candidate,iter : ${candidates}">
                                <td th:text="${iter.count}"></td>
                                <td th:text="${candidate.candidateId}"></td>
                                <td th:text="${candidate.nameOfCandidate}"></td>
                                <td th:text="${candidate.surnameOfCandidate}"></td>
                                <td th:text="${candidate.employment}"></td>
                                <td>
                                    <a th:href="@{/candidates/newCompetence}" type="button" class="btn btn-default">Add Competence </a>
                                </td>
                                <td>
                                    <a class="btn btn-primary" th:href="@{'/candidates/getCandidateDetails/' + ${candidate.candidateId}}">Details</a>
                                </td>
                                <td>
                                    <a th:href="@{'/candidates/delete/' + ${candidate.candidateId}}" type="button" class="btn btn-default">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>