<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="card mb-2 mt-2">
                <div class="card-header">
                    Create Candidate
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/candidates/new}" method="post" th:object="${candidate}">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Please enter name" th:field="*{nameOfCandidate}">
                        </div>
                        <div class="form-group">
                            <label for="name2">Name2</label>
                            <input type="text" class="form-control" id="name2" placeholder="Please enter name2" th:field="*{surnameOfCandidate}">
                        </div>
                        <div class="form-group">
                            <label for="age">Employment</label>
                            <input type="number" class="form-control" id="age" placeholder="Please enter age" th:field="*{employment}">
                        </div>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>